*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.navbar{
    background-color:cornflowerblue;
    color:rgb(255, 51, 0);
    font-size:25px;
    font-style:sans-serif;
    display:flex;
    justify-content:space-evenly;
    position:sticky;
    top:0px;
    z-index:1;
  border-radius:90px;
  margin:0 80px 0 80px;
  box-shadow:rgba(105, 105, 105) 2px 2px 20px;
}
.navbarlinks {
    text-decoration:none;
    color:rgb(241, 245, 19);
    font-weight:bold;
}
.navbarlinks:hover{
 
 color:pink;
}
